@charset "UTF-8";

.body
{
	min-width: 360px;
}

.card-body.card-info
{
	flex: none;
}

.calendar
{
	display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    height: 400px;
    margin: 20px auto;
}

.day
{
    width: calc(100% / 7);
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.prev, .next
{
    cursor: pointer;
    padding: 8px;
    background-color: #4CAF50;
    color: #fff;
    margin: 10px 0;
}

.day .unselect
{
	background: none;
	border
	height: 30px;
	width: 30px;
	border-radius: 50%;
	font-size: 9pt;
}

.day .select
{
	background-color: #FF6347;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	font-size: 9pt;
	color: white;
}

@media (max-width: 400px) {
  .kcal {
    display: none;
    /* background: red; */
  }
}

/* #list
{
	border: 1px solid gray;
	width: 500px;
	
	position: absolute;
	left: 70px;
	top: 164.5px;
	
	display: none;
} */
#list .item
{
	padding: 3px;
}
#list
{
	background-color: white;
	font-size: 8pt;
	display: none;
}